<ion-view title="{{competition.name}}">
    <ion-content has-header="true" padding="true">
        {{competition.name}}

        <br><br>

        <h2>TeilnehmerInnen</h2>

        <ion-list>
            <ion-item ng-repeat="participant in participants" type="item-text-wrap" href="#/tab/competitions/{{competition.id}}/participant/{{participant.user_id}}">
                {{participant.name}}
            </ion-item>
        </ion-list>
        <!--
        <label class="item item-input">
            <span class="input-label">Username</span>
            <input type="text" data-ng-model="competition.name">
        </label>
        <button class="button button-positive" data-ng-click="saveData(competition.name)">
            Speichern
        </button>
        -->

    </ion-content>
</ion-view>
