<ion-view title="{{competition.name}}">
    <ion-content has-header="true" padding="true">

        <div data-ng-switch data-on="admin">
            <div data-ng-switch-when="1">
                <div style="float: right;">
                    <a class="button button-balanced icon-right ion-chevron-right" href="#/tab/competitions/{{competition.id}}/administration">
                        Administration
                    </a>
                </div>
            </div>
            <div data-ng-switch-default>
            </div>
        </div>


        {{competition.name}}

        <br><br>




        <h2>TeilnehmerInnen</h2>

        <br style="clear: both;">

        <ion-list>
            <ion-item ng-repeat="participant in participants" type="item-text-wrap" href="#/tab/competitions/{{competition.id}}/participant/{{participant.user_id}}">
                {{participant.name}}

                <div data-ng-switch data-on="participant.i_rated">
                    <div data-ng-switch-when="1">
                        <span class="badge badge-balanced">Abgestimmt</span>
                    </div>
                    <div data-ng-switch-when="-1">
                        <span class="badge badge-energized">Unvollständig</span>
                    </div>
                    <div data-ng-switch-default>
                    </div>
                </div>
            </ion-item>
        </ion-list>
        <!--
        <label class="item item-input">
            <span class="input-label">Username</span>
            <input type="text" data-ng-model="competition.name">
        </label>
        <button class="button button-positive" data-ng-click="saveData(competition.name)">
            Speichern
        </button>
        -->

    </ion-content>
</ion-view>
