<ion-view title="{{participant.name}}">
    <ion-content has-header="true" padding="true">

        <div class="card">
            <div class="item item-divider">
                Das Team
            </div>
            <div class="item item-text-wrap">
                <table class="participant_card">
                    <tr data-ng-repeat="prop in team_properties">
                        <th>{{prop[0]}}</th>
                        <td>{{prop[1]}}</td>
                    </tr>
                </table>
            </div>
            <div>
                <div style="display: inline-block; width: 33%; text-align: center;">
                    <a href="/dcm2015/bilder/original/{{competitionId}}_{{participantId}}.png" target="_blank"><img src="/dcm2015/thumbnails/{{competitionId}}_{{participantId}}original_thumb.png" alt="Original"></a>
                </div>
                <div style="display: inline-block; width: 33%; text-align: center;">
                    <a href="/dcm2015/bilder/detail/{{competitionId}}_{{participantId}}.png" target="_blank"><img src="/dcm2015/thumbnails/{{competitionId}}_{{participantId}}detail_thumb.png" alt="Detailbild"></a>
                </div>
                <div style="display: inline-block; width: 33%; text-align: center;">
                    <a href="/dcm2015/bilder/farbreferenz/{{competitionId}}_{{participantId}}.png" target="_blank"><img src="/dcm2015/thumbnails/{{competitionId}}_{{participantId}}farbreferenz_thumb.png" alt="Farbreferenz"></a>
                </div>
            </div>
        </div>

        <div style="float: right;" data-ng-show="is_sysadmin">
            <a class="button button-balanced icon-right ion-chevron-right" href="#/competitions/{{competitionId}}/participant/{{participantId}}/summary">
                Gesamtauswertung
            </a>
        </div>

        <button data-ng-show="is_adjucator" class="button button-light meine_punktzahl icon-left {{ all_complete ? 'ion-checkmark-circled' : 'ion-help-circled' }}">
            Meine Punktzahl: {{team_rating}}
        </button>

        <div class="row participant_overview_ratings">
            <div class="col" data-ng-repeat="member in members">
                <div class="card">
                    <div class="item item-divider">
                        {{member.name}}
                    </div>
                    <div class="item item-text-wrap">
                        <table class="participant_card">
                            <tr data-ng-repeat="prop in member.props">
                                <th>{{prop[0]}}</th>
                                <td>{{prop[1]}}</td>
                            </tr>
                        </table>
                        <br>

                        <button data-ng-show="is_adjucator"
                                class="kostuem_button button {{ rating_groups_complete[member.group_kostuem] ? 'button-balanced' : 'button-energized' }}"
                                data-ng-click="setOpenedCritGroup(member.group_kostuem)">
                            Kostüm ({{rating_groups_scores[member.group_kostuem]}})
                        </button>
                        <br style="clear: both;">
                    </div>
                </div>
            </div>
            <div class="auftritt_holder" data-ng-show="is_adjucator">
                <button class="button {{ rating_groups_complete[group_auftritt] ? 'button-balanced' : 'button-energized' }}" style="float: left;"
                        data-ng-click="setOpenedCritGroup(group_auftritt)">
                    Auftritt ({{rating_groups_scores[group_auftritt]}})
                </button>
            </div>
        </div>

        <section data-ng-repeat="crit_group in crit_groups" class="crit_group crit_group_{{crit_group.group_id}}"
                 data-ng-show="is_adjucator && openedCritGroup == crit_group.group_id">
            <h2>{{crit_group.name}} <span style="float: right;">{{rating_groups_scores[crit_group.group_id]}}</span></h2>

            <div class="ratings_setter card">
                <section data-ng-repeat="criterion in crit_group.criteria">
                    <div class="item item-divider">
                        <div class="rating_na" style="display: {{(ratings[criterion.id] > 0 ? 'none' : 'inherit')}}">- nicht gesetzt -</div>
                        <div class="rating_num" style="display: {{(ratings[criterion.id] > 0 ? 'inherit' : 'none')}}">{{ratings[criterion.id]}}</div>
                        <div class="rating_weight" style="display: {{(criterion.group_leader ? 'inherit' : 'none')}}">{{rating_groups_weights[crit_group.group_id]}} x</div>
                        <div class="rating_name">{{criterion.name}}</div>
                    </div>
                    <div class="item">
                        <div style="float: right;" data-ng-show="criterion.group_leader === false">
                            <span style="display: inline-block; vertical-align: middle; line-height: 25px; margin-top: -20px;">Streicher</span>
                            <label class="toggle toggle-assertive">
                                <input type="checkbox" name="ignore_{{criterion.id}}" value="1" data-ng-model="ratings_ignore[criterion.id]" data-ng-change="saveRatings()">

                                <div class="track">
                                    <div class="handle"></div>
                                </div>
                            </label>
                        </div>

                        <div class="rating_radio rating_val_{{val}}" data-ng-repeat="val in criterion.values" data-ng-show="ratings_ignore[criterion.id] == false">
                            <label for="critinp{{criterion.id}}_{{val}}">{{val}}</label>
                            <span></span>
                            <input type="radio" id="critinp{{criterion.id}}_{{val}}" name="test_{{criterion.id}}" value="{{val}}"
                                   data-ng-model="ratings[criterion.id]" data-ng-change="saveRatings()">
                            <span></span>
                        </div>
                    </div>
                </section>
            </div>
        </section>
    </ion-content>
</ion-view>