<ion-view title="{{competition.name}}">
    <ion-content has-header="true" padding="true">

        <table class="participant_rating_table" data-ng-repeat="crit_group in criteria">
            <caption>{{crit_group_names[crit_group.group_id]}}</caption>
            <thead>
            <tr>
                <th class="lo"></th>
                <th data-ng-repeat="adjucator in adjucators">{{adjucator.username}}</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="criterion in crit_group.crits">
                <th>{{criterion.name}}</th>
                <td data-ng-repeat="adjucator in adjucators" class="rating">
                    {{criterion.ratings[adjucator.adjucator_id]}}
                </td>
            </tr>
            </tbody>
        </table>

    </ion-content>
</ion-view>
